.my-footer {
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: #ffffff;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 50000;
}

.carousel-item {
    height: 900px;
}


.carousel-caption {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    text-shadow:1px 1px #171a1d;

}