{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="/static/images/tavern.jpg" class="d-block w-100" alt="an outside design of a typical tavern">
    <!--image by Hansuan Fabregas from Pixabay-->
        <div class="carousel-caption d-none d-md-block">
            <h5>Take a look at the design of a typical tavern!</h5>
            <p>A tavern is a place known to every gamer or history enthusiast.</p>
        </div>
    </div>
    <div class="carousel-item">
    <img src="/static/images/tavern-inside.jpg" class="d-block w-100" alt="an inside look of a typical tavern">
    <!--image by Victoria Regen from Pixabay-->
        <div class="carousel-caption d-none d-md-block">
            <h5>Inside of a typical tavern</h5>
            <p>There is always something going on inside!</p>
        </div>
    </div>
    <div class="carousel-item">
    <img src="/static/images/tavern-food.jpg" class="d-block w-100" alt="an example of the menu offered by a tavern">
    <!--image by Karolina Grabowska from Pixabay-->
        <div class="carousel-caption d-none d-md-block">
            <h5>Delicious meal at the beautiful medieval tavern!</h5>
            <p>A gorgeous, well-balanced, with a sprinkle of aesthetic meal, is waiting for you!</p>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to Golden Tavern!</h1>
            <p>Step into a realm of enchantment and camaraderie at the illustrious Golden Tavern, 
            nestled within the mystical lands of Kazery! Embark on a journey through time to an age of knights, 
            elves, and dwarves, where tales of valor and legends unfold. Immerse yourself in the rich tapestry of 
            this wondrous realm, where the clinking of tankards and laughter echo through the wooden beams. 
            Savor delectable feasts fit for noble warriors and indulge in the finest elixirs that ignite the senses. 
            Join us at the heart of Kazery, where friends become family and extraordinary tales are woven every night. 
            The Golden Tavern, where fantasy becomes reality.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/search-availability" class="btn btn-success">Make Reservation Now!</a>
        </div>
    </div>
</div>
{{end}}